/src/Clarity/Clarity/obj
/src/Clarity/Clarity/bin
/src/Clarity/Clarity.Engine/obj
/src/Clarity/Clarity.Engine/bin
/src/Clarity/Clarity.DB/bin
/src/Clarity/Clarity.DB/obj
/src/Clarity/ClarityAid/obj
/src/Clarity/ClarityAid/bin
/src/ClarityEmotion/ClarityEmotion/obj
/src/ClarityEmotion/ClarityEmotion/bin
/src/ClarityMovement/ClarityMovement/obj
/src/ClarityMovement/ClarityMovement/bin
/src/Clarity/Clarity.GUI/bin
/src/Clarity/Clarity.GUI/obj
/src/Clarity/Clarity.Cv/obj
/src/Clarity/Clarity.Cv/bin
/src/ClarityOrbit/ClarityOrbit/bin
/src/ClarityOrbit/ClarityOrbit/obj
/src/Clarity/Clarity.Image/bin
/src/Clarity/Clarity.Image/obj
bin
obj
/src/ClarityImageViewer/.vs
.vs
